@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap');

body {
  height: 100vh;
  font: 16px/1.5  'Source Sans 3', sans-serif;
  background: rgb(229 231 235);
  color: rgb(31 41 55);
}

