.main-scrollbar{
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @media (max-width: 600px) {
        padding: 0 20px;
    }
}

.scrollbar-track{
    background-color: transparent !important;
}

.scrollbar-track-y{
    width: 6px !important;
}

.scrollbar-thumb{
    width: 6px !important;
    background-color: #b4b1b1 !important;
    border-radius: 0 !important;
}
