.parent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.scrollbar-track{
    background-color: transparent !important;
}

.scrollbar-track-y{
    width: 6px !important;
}

.scrollbar-thumb{
    width:6px !important;
    background-color: #b4b1b1 !important;
    border-radius: 0 !important;
}

.scroll-content{
    height: 100vh;
}
