.main-scrollbar{
    position: fixed !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.scrollbar-track{
    background-color: transparent !important;
}

.scrollbar-track-y{
    width: 6px !important;
}

.scrollbar-thumb{
    width: 6px !important;
    background-color: #b4b1b1 !important;
    border-radius: 0 !important;
}

body::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #b4b1b1;
}
