@mixin respond($breakpoint) {
  @if $breakpoint == xxl {
    @media (max-width: 1400px) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 600px) {
      @content;
    }
  }
}


.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.header {
  padding: 100px 0;
  position: relative;
  z-index: 99;

  @include respond(sm){
    padding: 32px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {

  &-list {
    display: flex;
    gap: 30px;
  }

  &-link {
    color: inherit;
    font-size: 21px;
    font-weight: 500;
    transition: .3s all;
  }

}


.banner {

  .container {
    position: relative;
    padding-top: 200px;
    height: 600px;

    @include respond(sm) {
      height: auto;
    }

  }

  &-content {
    display: flex;
    gap: 80px;

    @include respond(sm) {
      flex-direction: column;
    }

  }

  &-title {
    font-weight: 500;
    font-size: 60px;
    letter-spacing: -0.03em;
    min-width: 500px;
  }

  &-desc {
    color: #606060;
    font-size: 32px;
    max-width: 600px;
    line-height: 1.17;
    align-self: flex-end;
    margin-bottom: -8px;
    flex: 1;
  }

  &-btn {
    position: absolute;
    inset: auto auto 0 16px;
    transition: .2s;

    &:hover {
      opacity: .8;
    }
  }
}


.project {

  &-section{
    font-family: 'Orbit', sans-serif;

  }

  &-info{
    display: flex;
    flex-direction: column;
  }

  &-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 1px;
  }

  &-desc-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 25px 0 32px;
    //font-size: 18px;
    line-height: 1.7;
    font-family: 'Orbit', sans-serif;
  }

  &-contribution{
    color: #606060;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 32px;
    width: 80%;
    letter-spacing: 1px;
  }


  &-section .container{
    padding: 100px 0;
    border-bottom: 1px solid #A3A3A3;
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;

    @include respond(sm) {
      gap: 32px;
      grid-template-columns: none;
    }
  }

  &-img {
    width: inherit;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 4px;
    position: relative;

    img{
      transition: .2s;
      object-fit: cover;
    }
  }

  &-link{
    display: inline-flex;
    align-self: flex-start;
    color: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.03em;
    padding: 6px;
    translate: -6px 0;
    border-bottom: 1px solid #181717;
    cursor: pointer;
    margin-top: auto;
    text-transform: uppercase;
    position: relative;


    &:before{
      content: '';
      background: #ccc;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      transition: .3s ease-in-out;
      z-index: -1;

      padding-bottom: 1px;
      box-sizing: unset;
    }

    &:hover:before{
      width: 100%;
    }
  }
}

body {
  height: 100vh;
}


.footer{
  padding: 100px 0 40px;

  @include respond(sm) {
    padding: 40px 0 32px;
  }

  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
  }

  &-name{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    color: #2429AF;
  }
}
