@mixin respond($breakpoint) {
  @if $breakpoint == xxl {
    @media (max-width: 1400px) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media (max-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media (max-width: 600px) {
      @content;
    }
  }
}


.logo {
  translate: 0 3px;
}

.header {
  padding: 100px 0;
  position: relative;
  z-index: 99;

  @include respond(sm){
    padding: 32px 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav {

  &-list {
    display: flex;
    gap: 60px;
    @include respond(sm) {
      gap: 32px;
    }
  }

  &-link {
    color: inherit;
    font-size: 21px;
    font-weight: 500;
    position: relative;
    line-height: 1;
    display: block;

    @include respond(sm) {
      font-size: 19px;
    }

    &:before{
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: black;
      position: absolute;
      top: 50%;
      translate: -16px -1px;
      transition: .3s all;
      opacity: 0;
      visibility: hidden;
    }

    &-active:before{
      opacity: 1;
      visibility: visible;
    }
  }

}


.banner {

  .container {
    position: relative;
    padding-top: 200px;
    height: 600px;

    @include respond(sm) {
      padding-top: 80px;
      height: auto;
    }

  }

  &-content {
    display: flex;
    gap: 80px;

    @include respond(sm) {
      flex-direction: column;
      gap: 32px;
    }

  }

  &-title {
    font-weight: 500;
    font-size: 60px;
    letter-spacing: -0.03em;

    @include respond(sm) {
      font-size: 36px;
    }
  }

  &-desc {
    color: #606060;
    font-size: 32px;
    max-width: 600px;
    line-height: 1.17;
    align-self: flex-end;
    margin-bottom: -8px;
    flex: 1;

    @include respond(sm) {
      font-size: 24px;
      margin: 0;
      line-height: 1.4;
    }
  }

  &-btn {
    position: absolute;
    inset: auto auto 0 16px;
    transition: .2s;

    @include respond(sm) {
      display: none;
    }

    &:hover {
      opacity: .8;
    }
  }
}


.project {

  &-section{
    font-family: 'Orbit', sans-serif;

  }

  &-info{
    display: flex;
    flex-direction: column;
  }

  &-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 1px;
  }

  &-desc-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 25px 0 32px;
    //font-size: 18px;
    line-height: 1.7;
    font-family: 'Orbit', sans-serif;
  }

  &-contribution{
    color: #606060;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 32px;
    width: 80%;
    letter-spacing: 1px;

    @include respond(sm) {
      width: 100%;
    }

  }

  &-section .container{
    padding: 100px 0;
    border-bottom: 1px solid #A3A3A3;

    @include respond(sm) {
      padding: 64px 0;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;

    @include respond(sm) {
      gap: 32px;
      grid-template-columns: none;
    }
  }

  &-img {
    width: inherit;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: 4px;
    position: relative;

    img{
      transition: .2s;
      object-fit: cover;
    }
  }

  &-link{
    display: inline-flex;
    align-self: flex-start;
    align-items: center;
    gap: 10px;
    color: inherit;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: -0.03em;
    padding: 6px;
    border-bottom: 1px solid #181717;
    cursor: pointer;
    margin-top: auto;
    text-transform: uppercase;
    position: relative;

    svg{
      margin-top: 3px;
    }


    &:before{
      content: '';
      background: #ccc;
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      transition: .3s ease-in-out;
      z-index: -1;

      padding-bottom: 1px;
      box-sizing: unset;
    }

    &:hover:before{
      width: 100%;
    }
  }
}


.page-title{
  padding: 200px 0;
}


.footer{
  padding: 100px 0 40px;

  @include respond(sm) {
    padding: 40px 0 32px;
  }

  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
  }

  &-name{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    color: #2429AF;
  }
}
